{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_script_tags('tinymce') }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.content) }}
        <button type="submit" class="btn btn-primary" id="validate">Send</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('tinymce') }}
{% endblock %}